@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

body,html{
    background-color: lightgray; 
}

header{
    background-color: gray;
}

header h1{
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px;
}

nav ul li a{
    color: white;
    padding: 10px;
}

nav ul li a:hover{
    background-color: aqua;
    border-radius: 10px;
}

article h2{
    text-align: center;
}

article{
    width: 50vw;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;

    & p {
        text-align: justify;
        margin: 20px 0;
        line-height: 1.5;

    }
}